FloatToolGUI\bin
FloatToolGUI\obj
FloatToolGUI/bin/Debug/DiscordRPC.dll
FloatToolGUI/bin/Debug/DiscordRPC.pdb
FloatToolGUI/bin/Debug/DiscordRPC.xml
FloatToolGUI/bin/Debug/en/FloatTool.resources.dll
FloatToolGUI/bin/Debug/FloatTool.exe
FloatToolGUI/bin/Debug/FloatTool.exe.config
FloatToolGUI/bin/Debug/FloatTool.pdb
FloatToolGUI/bin/Debug/itemData.json
FloatToolGUI/bin/Debug/Newtonsoft.Json.dll
FloatToolGUI/bin/Debug/Newtonsoft.Json.xml
FloatToolGUI/bin/Debug/ru/FloatTool.resources.dll
FloatToolGUI/bin/Release/DiscordRPC.dll
FloatToolGUI/bin/Release/DiscordRPC.pdb
FloatToolGUI/bin/Release/DiscordRPC.xml
FloatToolGUI/bin/Release/en/FloatTool.resources.dll
FloatToolGUI/bin/Release/FloatTool.exe
FloatToolGUI/bin/Release/FloatTool.exe.config
FloatToolGUI/bin/Release/FloatTool.pdb
FloatToolGUI/bin/Release/itemData.json
FloatToolGUI/bin/Release/Newtonsoft.Json.dll
FloatToolGUI/bin/Release/Newtonsoft.Json.xml
FloatToolGUI/bin/Release/ru/FloatTool.resources.dll
FloatToolGUI/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
FloatToolGUI/obj/Debug/en/FloatTool.resources.dll
FloatToolGUI/obj/Debug/FloatTool.exe
FloatToolGUI/obj/Debug/FloatTool.pdb
FloatToolGUI/obj/Debug/FloatToolGUI.Benchmark.resources
FloatToolGUI/obj/Debug/FloatToolGUI.csproj.CopyComplete
FloatToolGUI/obj/Debug/FloatToolGUI.csproj.CoreCompileInputs.cache
FloatToolGUI/obj/Debug/FloatToolGUI.csproj.FileListAbsolute.txt
FloatToolGUI/obj/Debug/FloatToolGUI.csproj.GenerateResource.cache
FloatToolGUI/obj/Debug/FloatToolGUI.csprojAssemblyReference.cache
FloatToolGUI/obj/Debug/FloatToolGUI.CustomControls.CustomToggleSwitch.resources
FloatToolGUI/obj/Debug/FloatToolGUI.CustomProgressBar.resources
FloatToolGUI/obj/Debug/FloatToolGUI.FloatTool.en.resources
FloatToolGUI/obj/Debug/FloatToolGUI.FloatTool.resources
FloatToolGUI/obj/Debug/FloatToolGUI.FloatTool.ru.resources
FloatToolGUI/obj/Debug/FloatToolGUI.Properties.Resources.resources
FloatToolGUI/obj/Debug/FloatToolGUI.Resources.strings.en.resources
FloatToolGUI/obj/Debug/FloatToolGUI.Resources.strings.resources
FloatToolGUI/obj/Debug/FloatToolGUI.SettingsForm.resources
FloatToolGUI/obj/Debug/ru/FloatTool.resources.dll
FloatToolGUI/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
FloatToolGUI/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
FloatToolGUI/obj/Release/DesignTimeResolveAssemblyReferences.cache
FloatToolGUI/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
FloatToolGUI/obj/Release/en/FloatTool.resources.dll
FloatToolGUI/obj/Release/FloatTool.exe
FloatToolGUI/obj/Release/FloatTool.pdb
FloatToolGUI/obj/Release/FloatToolGUI.Benchmark.resources
FloatToolGUI/obj/Release/FloatToolGUI.csproj.CopyComplete
FloatToolGUI/obj/Release/FloatToolGUI.csproj.CoreCompileInputs.cache
FloatToolGUI/obj/Release/FloatToolGUI.csproj.FileListAbsolute.txt
FloatToolGUI/obj/Release/FloatToolGUI.csproj.GenerateResource.cache
FloatToolGUI/obj/Release/FloatToolGUI.csprojAssemblyReference.cache
FloatToolGUI/obj/Release/FloatToolGUI.CustomControls.CustomToggleSwitch.resources
FloatToolGUI/obj/Release/FloatToolGUI.CustomProgressBar.resources
FloatToolGUI/obj/Release/FloatToolGUI.FloatTool.en.resources
FloatToolGUI/obj/Release/FloatToolGUI.FloatTool.resources
FloatToolGUI/obj/Release/FloatToolGUI.FloatTool.ru.resources
FloatToolGUI/obj/Release/FloatToolGUI.Properties.Resources.resources
FloatToolGUI/obj/Release/FloatToolGUI.Resources.strings.en.resources
FloatToolGUI/obj/Release/FloatToolGUI.Resources.strings.resources
FloatToolGUI/obj/Release/FloatToolGUI.SettingsForm.resources
FloatToolGUI/obj/Release/ru/FloatTool.resources.dll
FloatToolGUI/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
FloatToolGUI/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
FloatToolGUI/obj/Release/FloatToolGUI.csprojAssemblyReference.cache
FloatToolGUI/obj/Release/FloatToolGUI.csprojAssemblyReference.cache
FloatToolGUI/obj/Release/FloatToolGUI.csprojAssemblyReference.cache
